<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>youdao.test.study.ArgsCalculatorTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testEqualIntegers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSubtraction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testDivison</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMultiplication</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSum</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
