<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ArgsCalculatorTest.setUp()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ArgsCalculatorTest.testDivison()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">testDivison</td> 
  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ArgsCalculatorTest.tearDown()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ArgsCalculatorTest.setUp()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ArgsCalculatorTest.testEqualIntegers()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">testEqualIntegers</td> 
  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ArgsCalculatorTest.tearDown()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ArgsCalculatorTest.setUp()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ArgsCalculatorTest.testMultiplication()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">testMultiplication</td> 
  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ArgsCalculatorTest.tearDown()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ArgsCalculatorTest.setUp()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ArgsCalculatorTest.testSubtraction()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">testSubtraction</td> 
  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ArgsCalculatorTest.tearDown()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ArgsCalculatorTest.setUp()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ArgsCalculatorTest.testSum()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">testSum</td> 
  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="e26588">  <td>20/04/26 14:45:31</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ArgsCalculatorTest.tearDown()[pri:0, instance:youdao.test.study.ArgsCalculatorTest@481a996b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
</table>
